# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Build output - should be uploaded to GitHub releases instead
dist/
dev-vault/

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
